@import "icons";
$main-font: "Arimo";
$trophy-main-font-color: #565853;
$trophy-secondary-color: white;
$plus-bg-color: #1e68a7;
.trophy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: auto;
}

.trophy section{
  padding: 0;
  margin: 0;
}

.trophy-header h2::after{
  margin: 0;
  background: none;
}

.trophy-header{
  @extend .trophy;
  margin: 0 auto 30px auto !important;
  &--meet{
    font-family: $main-font;
    font-size: 30px;
    font-weight: 400;
    color: $trophy-main-font-color;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  &--about{
    font-family: $main-font;
    text-align: center;
    width: 70%;
    font-size: 25px;
    color: white;
    font-weight: 400;
    align-self: center;
    padding: 10px 20px;
    background-color: $plus-bg-color;
  }
  &--wwdo{
    font-family: $main-font;
    text-align: left;
    width: auto;
    font-weight: 400;
    font-size: 25px;
    color: white;
    align-self: center;
    padding: 10px 20px;
    background-color: $plus-bg-color;
  }
}


.trophy__icons{
  display: flex;
  flex-direction: row;
  font-family: $main-font;
  color: $trophy-main-font-color;
  font-weight: 100;
  &--top{
    @extend .trophy__icons;
    justify-content: space-around;
    width: 100% ;
    .item{
      @extend .trophy__icons;
      font-size: 20px;
      &__text{
        width: 200px;
        margin: 42px 0 0 0;
      }

      &--left{
        justify-content: flex-end;
        text-align: right;
        align-self: center;
      }
      &--right{
        justify-content: flex-start;
        text-align: left;
        align-self: center;
      }

    }
    }
  }

.trophy .trophy-header .bolder{
  font-weight: 900;
}

.plus{
  font-family: $main-font;
  font-weight: 100;
  background-color: $plus-bg-color;
  font-size: 20px;
  color: $trophy-secondary-color;
  width: 20px;
  height: 20px;
  margin: 0 30px 0 30px;
  line-height: 20px;
  align-self: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 0 1px 1px $plus-bg-color;
  }
  &--active{
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 1024px) {
  .trophy{width: 100%;}
  .trophy__icons--top .item__text{
    font-size: 15px;
    width: 100px;
    margin: 20px 0 0 0;
  }
}


